/*Hlavní nastavení*/
body {
    background-image: url(images/Bcg1.jpg);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
    color: lightskyblue;
}

h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 100px;
}

h4, h5, h6, h7, h8, h2 {
    font-weight: normal;
    font-size: 30px;
}

h3 {
    color: steelblue;
    text-shadow: 0 0 4px white, 2px -13px 15px #f20;
}

/*Konec hlavního nastavení*/

/*Obsah*/
.container {
    width: 890px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.ruda {
    color: #02F8A2;
}

/*Obrázky*/
/*Začátek pozicování obrazků*/

#css3 {
    position: relative;
}

.css3 {
    width: 50%;
    position: absolute;
    bottom: 275px;
    margin-left: 8px;
}

#html5 {
    position: relative;
}

.html5 {
    width: 50%;
    position: absolute;
    top: 789px;
    margin-left: 8px;
}

#php {
    position: relative;
}

.php {
    width: 50%;
    position: absolute;
    margin-left: 8px;
    left: 570px;
    top: -33px;
}

#js {
    position: relative;
}

.js {
    width: 50%;
    position: absolute;
    margin-left: 8px;
    bottom: 11px;
    left: 570px;
}

/*Konec pozicování obrázků*/

/*Menu*/

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd
        }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/*Konec menu*/

/*Konec obsahu*/