/*Hlavní nastavení*/
body {
    background-image: url(images/Bcg1.jpg);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
    color: lightskyblue;
}

h1 {
    font-size: 45px;
    text-align: center;
    padding-top: 100px;
}

h4, h5, h6, h7, h8, h2 {
    font-weight: normal;
    font-size: 30px;
}

h3 {
    color: steelblue;
    text-shadow: 0 0 4px white, 2px -13px 15px #f20;
}

/*Konec hlavního nastavení*/

/*Obsah*/
.container {
    width: 890px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.ruda {
    color: #02F8A2;
}

/*Obrázky*/
/*Začátek pozicování obrazků*/

#css3 {
    position: relative;
}

.css3 {
    width: 50%;
    position: absolute;
    bottom: 275px;
    margin-left: 8px;
}

#html5 {
    position: relative;
}

.html5 {
    width: 50%;
    position: absolute;
    top: 789px;
    margin-left: 8px;
}

#php {
    position: relative;
}

.php {
    width: 50%;
    position: absolute;
    margin-left: 8px;
    left: 570px;
    top: -33px;
}

#js {
    position: relative;
}

.js {
    width: 50%;
    position: absolute;
    margin-left: 8px;
    bottom: 11px;
    left: 570px;
}

/*Konec pozicování obrázků*/


/*Konec obsahu*/